.home{
    height: 100%;
    padding-top: 40vh;
    overflow: hidden;
    align-items: center;
    text-align: center;

    .firstname{
        font-weight: 700;
    }
    .lastname{
        color: $third-color;
    }
}